<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        display: inline-block;
        width: 300px;
        height: 150px;
        background-color: gold;
        padding: 20px;
        border: 3px solid black;
        margin-right: 50px;
        margin-top: 50px;
      }

      /*
       margin: 50px;
       margin은 요소의 크기에는 어떠한 영향도 미치지 않는다
       요소와 쇼오 사이의 간격
       */
    </style>
  </head>
  <body>
    <div class="box">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
      quisquam adipisci veritatis molestiae assumenda voluptatum natus quaerat
      tempore laboriosam facere, quas excepturi fugit eius consectetur.
      Perferendis reiciendis adipisci repellendus sapiente?
    </div>

    <div class="box">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
      quisquam adipisci veritatis molestiae assumenda voluptatum natus quaerat
      tempore laboriosam facere, quas excepturi fugit eius consectetur.
      Perferendis reiciendis adipisci repellendus sapiente?
    </div>

    <div class="box">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
      quisquam adipisci veritatis molestiae assumenda voluptatum natus quaerat
      tempore laboriosam facere, quas excepturi fugit eius consectetur.
      Perferendis reiciendis adipisci repellendus sapiente?
    </div>
  </body>
</html>

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to My Web Site</title>


<style type="text/css" media="all">
:link,:visited { text-decoration:none }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:small; }ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{ margin:0; padding:0 }
a img,:link img,:visited img { border:none }
address { font-style:normal }


body {
margin:0px;
padding:0px;
background-color:#fff;
overflow-x:hidden;
}

img.bg {
position:absolute;
left:0px;
top:0px;
z-index:0;
}



div.og {
position:absolute;
top:0px;
/*
left:60%;
float:right;
width:40%;
*/
z-index:5;
left:0;
width:100%;
margin:0px;
}

#contentblock{
	display:block;
	width:600px;
	height:2500px;
	background-color:#fff;
	margin:0px auto;
}


</style>
<script type="text/javascript">
function resizeImg() {

var mybg = document.getElementById('mybgimg');
var winW = (window.innerWidth) ? window.innerWidth : document.body.offsetWidth;
var winH = (window.innerHeight) ? window.innerHeight : document.body.offsetHeight;
var newImgH = 0;
var newImgW = 0;
var imgW = mybg.getAttribute('width');
var imgH = mybg.getAttribute('height');
var winR = winW/winH
var oldRatio = imgW/imgH;
var newRatio;


if(winR <= oldRatio)
{
newImgH = winH;
newImgW = Math.round(winH * (imgW/imgH));
}
else
{
newImgH = Math.round(winW * (imgH/imgW));
newImgW = winW;
}
newRatio = newImgW/newImgH;

// these document.write is what I used to see what was going on and it helped
// figure out the math for the if else statement above.
//document.write("width = " + winW + " and height = " + winH + "<br />");
//document.write("pic width = " + imgW + " and height = " + imgH + "<br />");
//document.write("new pic width = " + newImgW + " and height =" + newImgH + "<br />");
//document.write("window ratio = " + (winW/winH) + "<br />");
//document.write("Old Pic ratio = " + oldRatio + "<br />");
//document.write("New Pic ratio = " + newRatio + "<br />");


//mybg.style.height = null; don't need these next three lines after all
//mybg.style.width = null;

//(winH <= winW) ? mybg.style.height = winH + 'px' : mybg.style.width = winW + 'px';

mybg.setAttribute('width',newImgW);
mybg.setAttribute('height',newImgH);
}

window.onload = resizeImg;
window.onresize = resizeImg;
</script>



</head>

<body>

<img class="bg" border="0" src="./car.jpg" id="mybgimg" width="1024" height="682" alt="test" />







<div class="og">

	<div id="contentblock">
			<h1>Welcome to My Web Site</h1>
			<h3>This web site is still under construction and some parts will always be changed or added to.</h3>
			<h4>Updated October 2005  </h4>
	</div>

</div>





</body>

</html>
